.favoritesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px 20px 20px;
}


.favoritesTitle {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0px;
  margin: 10px;
}

.h1FavoritesCard {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  gap: 50px;
}

.favoritesCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: fit-content;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Fredoka One', cursive;
  text-shadow: 3px 3px 3px #aaa;
  padding: 0px;
  font-weight: 400;
  margin: 0px;
}

.favoritesTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-size: 15px;
  border-radius: 20px;
  font-family: 'Fredoka One', cursive;
  text-shadow: 3px 3px 3px #aaa;
  font-weight: 400;
  margin: 0px;
}


@media (max-width: 830px) {
 .h1FavoritesCard {
  display: flex;
  flex-direction: column;
 }

 .favoritesContainer{
  margin: 0px;
 }


}


@media (max-width: 500px) {
  .navbar-nav{
    gap: 5px;
    margin-left: 120px;
  }
  
  #myNavbar {
    width: 500px;
  }
  div#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h1FavoritesCard{
    width: 300px;
  }

  .favoritesContainer{
    width: fit-content;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
  }

}