.vehiclesTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-size: 15px;
  border-radius: 20px;
  font-family: 'Fredoka One', cursive;
  text-shadow: 3px 3px 3px #aaa;
  font-weight: 400;
  margin: 0px;
}

.vehiclesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px 20px 20px;
}

.h1VehicleCard {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  gap: 50px;
}

.vehicleCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 300px;
  height: 490px;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Fredoka One', cursive;
  text-shadow: 3px 3px 3px #aaa;
  padding: 0px;
  font-weight: 400;
  margin: 0px;
}



@media (max-width: 830px) {
 .h1VehicleCard {
  display: flex;
  flex-direction: column;
 }

 .favoritesContainer{
  margin: 0px;
 }

}


@media (max-width: 500px) {
  
}
